/* ESTILOS DE LA SECCION CARRUSEL*/
/*Alto de imagenes en carrusel*/
.d-block{
	max-height:700px;
	min-height: 250px;
}


/*Transparencia en descripcion*/
.d-md-block{
	width:-50%;
	height:auto;
	background:rgba(0,0,0,0.7);
	backdrop-filter:blur(1px);
}

